<section class="container contact-section" id="contact-section">

    <div class="container container-small active" id="contact-main">

        <h1>Current Status</h1>

        <h2>Accepting Freelance Projects</h2>

        <a class="button button-main success contact-toggle" id="contact-btn">
            <i class="fa fa-envelope"></i> &nbsp; CONTACT
        </a>

    </div>

    <div class="container container-xsmall" id="contact-form">

        <h1>CONTACT FORM</h1>

        <form class="contact-form" action="">

            <div>
                <input type="text" id="name-input" placeholder="Name"/>
                <input type="text" id="mail-input" placeholder="Mail"/>
            </div>

            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>

            <a class="button button-main alert contact-toggle" id="cancel-contact">
                <i class="fa fa-times"></i> &nbsp; CANCEL
            </a>
            <a class="button button-main success" id=send-mailt">
                <i class="fa fa-envelope"></i> &nbsp; SEND
            </a>

        </form>

    </div>

</section>