<header id="header" class="site-head">

    <div class="container container__main">

        <div id="logo" class="logo">
            <span><a class="blog-logo" href="#">Logo</a></span>
        </div>

        <div id="nav-btn" class="pulse-effect pulse__square">
            <i class="icon icon-menu"></i>
        </div>

        <nav id="nav">
            <ul class="nav">
                <li>
                    <a id="home" class="nav-link active">Home</a>
                </li>
                <li>
                    <a id="about" class="nav-link ">About</a>

                </li>
                <li>
                    <a id="contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>

    </div>

</header>