{{#if post}}
    {{#post}}
        <section class="intro-text intro-text__background" id="intro-text">

            <div class="container container-small">
                    <h2>{{title}}</h2>

                <a class="button button-main" >
                    <i class="fa fa-envelope"></i> &nbsp; CONTACT
                </a>
            </div>

        </section>
    {{/post}}

{{else}}
    <section class="intro-text intro-text__background" id="intro-text">

            <div class="container container-small">

                <h1>{{@blog.title}}<span>{{author.name}}</span></h1>

                <h2>A California UI Designer, creating engaging <br/>
                    experiences
                    for brands to flourish in a digital world.</h2>

                <a class="button button-main" id="cancel-contact">
                    <i class="fa fa-envelope"></i> &nbsp; CONTACT
                </a>

            </div>

    </section>
{{/if}}
