<div class="at_pagination container">
    <div class="container container-xsmall">

        <div class="prev text-left">
            <div class="at_block">
                {{#if prev}}
                <a class="" href="{{pageUrl prev}}"><span class="fa fa-arrow-circle-o-left"></span> <span class=""></span></a>
                {{/if}}
            </div>
        </div>
        <div class="text-center pages_number">
            <div class="at_block">
                {{#if next}}
                <span class="">Page {{page}} of {{pages}}</span>
                {{/if}}
            </div>
        </div>
        <div class="next text-right">
            <div class="at_block">
                {{#if next}}
                <a class=" " href="{{pageUrl next}}"><span class=""></span> <span class="fa fa-arrow-circle-o-right"></span></a>
                {{/if}}
            </div>
        </div>

    </div>
</div>

