<div id="at_pagination">
    <div class="row">
        <div class="">
            <div class="at_block">
                {{#if prev}}
                <a class="" href="{{pageUrl prev}}">
                    <span class="fa fa-arrow-circle-o-left"></span> <span class="">Newer Posts</span>
                </a>
                {{/if}}
            </div>
        </div>
        <div class="large-4 small-6 columns text-center">
            <div class="at_block">
                <span class="at_pagination_item at_page_number">Page {{page}} of {{pages}}</span>
            </div>
        </div>
        <div class="text-right">
            <div class="at_block">
                {{#if next}}
                <a class=" " href="{{pageUrl next}}">
                    <span class="">Older Posts</span> <span class="fa fa-arrow-circle-o-right"></span></a>
                {{/if}}
            </div>
        </div>
    </div>
</div>