<!doctype html>
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{{meta_title}} asaasdasdd </title>

    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>

    <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!--[if (lt IE 9) & (!IEMobile)]>
    <script type="text/javascript" src="{{asset "js/vendor/selectivizr-min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/modernizr-2.5.3-min.js"}}"></script>
    <link rel="stylesheet" type="text/css" href="{{asset "css/ie8.css"}}" />
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico"/>
    <!-- 32x32 -->
    <link rel="shortcut icon" href="/favicon.png"/>
    <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png"/>
    <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicons/apple-touch-icon-72x72-precomposed.png"/>
    <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicons/apple-touch-icon-114x114-precomposed.png"/>
    <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicons/apple-touch-icon-144x144-precomposed.png"/>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Windows 8 / RT http://bit.ly/HHkt7m -->
    <meta name="msapplication-TileImage" content="img/favicons/apple-touch-icon-144x144-precomposed.png"/>
    <meta name="msapplication-TileColor" content="#000"/>
    <meta http-equiv="cleartype" content="on"/>
    <style>
        .closak{
            visibility: hidden !important;
        }
    </style>
    {{ghost_head}}

    <!-- build:css assets/styles/components/main.min.css -->
    <link rel="stylesheet" href="assets/styles/h5bp.css">
    <link rel="stylesheet" href="assets/styles/app.css">
    <!-- endbuild -->

</head>

<body class="{{body_class}}">

    {{{body}}}

    {{ghost_foot}}

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

    <script type="text/javascript" src="bower_components/packery/dist/packery.pkgd.min.js"></script>
    <script type="text/javascript" src="bower_components/animatescroll/animatescroll.min.js"></script>
    <script type="text/javascript" src="bower_components/hammerjs/hammer.min.js"></script>

    <script type="text/javascript" src="{{asset "js/scripts.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/interface.js"}}"></script>


    <script type='text/javascript'>//<![CDATA[
    ;document.write("<script async src='//HOST:3000/browser-sync-client.1.0.0.js'><\/script>".replace(/HOST/g, location.hostname));
    //]]></script>

</body>
</html>