{{!< default}}



{{> hero}}

<main class="container container-main container-small push--top" id="main" role="main">

    {{#foreach posts}}
    {{#has tag="photo"}}

    <article class="{{post_class}} main article">

        <header class="cloak">
            <div class="title">
                {{title}}
            </div>
            <div class="link">
                <a href="{{url}}"> <i class="fa fa-plus"></i> </a>
            </div>
        </header>

        <main>
            {{content}}
        </main>

    </article>

    {{/has}}
    {{/foreach}}

</main>

{{> pagination2}}

{{> contact}}

{{> footer}}