<div id="at_search">
    <div class="row">
        <div class="large-12 large-centered columns">
            <input class="at_search_input" type="text" placeholder="Search...">
        </div>
    </div>
    <div class="at_search_results"></div>
</div>